body {
    background-color: #b3c1ae;
    font-family: sans-serif;
    margin: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102913;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    height: 40px;
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;  /* Adds space between the button and the icon */
    align-items: center;  /* Ensures the button and icon align vertically */
  }
  
  .logout-btn {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none; /* Ensures no underline on the link */
  }
  
  .logout-btn:hover {
    background-color: #88a891;
  }
  
  .icon {
    width: 40px; /* Size of the icon */
    height: 40px;
  }
  
  .icon img {
    width: 100%;
    height: auto;
  }
  
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-post-container {
    max-width: 900px;
    margin: auto;
  }
  
  .new-post-container h1 {
    font-size: 3rem;
    color: #1f2d1c;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .post-form {
    display: flex;
    gap: 2rem;
    width: 400px;
    align-items: flex-start;
  }
  
  
  .post-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .post-details label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #1f2d1c;
  }
  
  .post-details input,
  .post-details textarea {
    margin-top: 0.2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #e6e6e6;
    font-size: 0.95rem;
  }
  
  .post-details textarea {
    height: 100px;
    resize: none;
  }
  
  .create-btn {
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    background-color: #2e442e;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  