body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: #C9D1CA;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
<<<<<<< HEAD
  background-image: url('/static/frontpage.jpg'); /* Adjusted path */
=======
  background-image: url('/static/frontpage.jpg'); 
>>>>>>> 917a483288974853d3fcc866f738392b41a21331
  background-size: cover;
  background-position: center;
  max-width: 35vw;
}

h1 {
  font-size: 6rem;
  color: #173c25;
  margin-bottom: 0px;
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 30px;
}


.login-card {
  background-color: #4d6b52;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-card .icon {
  background-color: #173c25;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card input {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  text-align: left;

}
.login-card .button-wrapper {
  text-align: center;
}
.login-card button {
  padding-top: 6px;
  padding-left:  4px;
  padding-bottom: 6px;

  border: none;
  margin: 6px auto; 
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.login-card .create-account {
  margin-top: 20px;
  text-align: center;
  color: #C9D1CA;
  justify-content: center;

}
.create-account .button-wrapper {
  text-align: center;
}
.create-account button {
  padding-top: 6px;
  padding-left:  4px;
  padding-bottom: 6px;
  margin: 6px auto; 
  display: block;
  border: none;
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
