body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #a9b9a3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102913;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    height: 40px;
  }
  
  .header-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .logout-btn, .liked-posts-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }