<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Detail</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home_donor.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='nibbl-logo.png') }}" alt="Nibbl Logo" class="logo">
    <div class="header-buttons">
      <a href="{{url_for('login') }}"><button class="logout-btn">Log out</button></a>
      <button class="icon-btn">
        <img src="{{ url_for('static', filename='Vector.png') }}" alt="user icon" class="icon"></img></button>
    </div>
  </header>

  <main class="new-post-container">
    <h1>New post</h1>
    <form action="/post_upload" method="POST">
    <div class="post-form">
      <div class="image-upload">
        <label for="image-upload">
          <div class="upload-placeholder">
            <span class="upload-icon">+</span>
            <span class="upload-text">Upload Image</span>
          </div>
        </label>
        <input type="file" id="image-upload" hidden>
      </div>
      <div class="post-details">
        <label>
          Post Name
          <input name='title' type="text" placeholder="What...">
        </label>
        <label>
          Date
          <input name='date' type="text" placeholder="dd/mm/yyyy">
        </label>
        <label>
          Time
          <input name='time' type="text" placeholder="x:xx ">
        </label>
        <label>
          Location
          <input name='location' type="text" placeholder="Where...">
        </label>
        <label>
          Items Available
          <textarea name='items' type="text" placeholder="Info..."></textarea>
        </label>
        <label>
          Contact
          <input name='contact' type="text" placeholder="email..."></input>
        </label>
      </div>
    </div>
    <button type="submit" class="create-btn">Create</button>
    </form>
  </main>
  
</body>
</html>
