<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home_recipient.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Nibbl Logo" class="logo">
    <div class="header-buttons">
      <a href="{{ url_for('likes') }}"><button class="liked-posts-btn">Liked Posts</button>
      <a href="{{url_for('login') }}"><button class="logout-btn">Log out</button>
      <button class="icon-btn">
        <img src="{{ url_for('static', filename='Vector.png') }}" alt="user icon" class="icon"></img></button>
    </div>

    </header>
  <main>
    <script>  
    console.log("HELLO") 
;
console.log({{ postid }});
    </script>
    <div class="card">
      <div class="post-info">
        <h1>{{ post.title }}</h1>
        <p><strong>Location:</strong> {{ post.location }}</p>
        <p><strong>Date:</strong> {{ post.date }}</p>
        <p><strong>Time:</strong> {{ post.time }}</p>
        <p><strong>Items Available:</strong></p>
        {% for item in post.fooditems %}
        <p>{{ item }}</p>
        {% endfor %}
        <p><strong>Point of Contact:</strong> {{ post.contact}}</p>
      </div>
      <div class="image-box">
        <img src="{{ url_for('static', filename='post-image.png') }}" alt="Post Image">
      </div>
    </div>

    <div class="nav-buttons">

    {% if prev_post %}
      <a href="{{ url_for('recipient', post_id=prev_post.id) }}"><button class="back-btn">&#8592;</button></a>
    {% endif %}

      <a><button class="munch-btn">Munch!</button></a>

      {% if next_post %}
        <a href="{{ url_for('recipient', post_id=next_post.id) }}"><button class="next-btn">&#8594;</button></a>
      {% endif %}
    </div>
  </main>
</body>
</html>
