<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UBC Nest Food Drive!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='munch.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Nibbl Logo" class="logo">
    <div class="header-buttons">
        <a href="#" class="logout-btn">
            Log out 
        </a>
        <div class="icon">
            <img src="{{ url_for('static', filename='Vector.png') }}" alt="User Icon">
        </div>
    </div>
  </header>


  <main>
      <h1><strong><em>Liked Postings</em></strong></h1>
      <div class="container">
        <div class="post-card">
          <img src="/static/nest.png" alt="UBC Nest Food Drive" />
          <div class="post-name">UBC Nest Food Drive</div>
        </div>
        <div class="post-card">
          <div class="placeholder">
            <img src="/static/Post 2.png" alt="Add Post" />
          </div>
          <div class="post-name">Save on EOD Give Away</div>
        </div>
      </div>
      <div class="footer"></div>
  </main>
</body>
</html>
