<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UBC Nest Food Drive!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='munch.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Nibbl Logo" class="logo">
    <div class="header-buttons">
      <a href="#" class="liked-posts-btn">Liked Posts</a>
      <a href="#" class="logout-btn">Log out <div class="icon"><img src="{{ url_for('static',  filename='Vector.png' )}}"></img></div></a>
    </div>
  </header>

  <main>
  
  </main>
</body>
</html>
