<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main Login Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&display=swap" rel="stylesheet" />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <div class="container">
    <div class="left">
      <h1>Welcome to Nibbl …</h1>
      <div class="login-card">
        <div class="icon"><img src="{{ url_for('static',  filename='Vector.png' )}}"></img></div>
        <h2>Member Login</h2>

        <form action="/form_login" method="POST">
        <input name="username" type="text" placeholder="Username..." />
        <input name="password" type="password" placeholder="Password..." />
    
        <button type="submit">Login</button>
        </form>
        <div class="create-account">
          Don’t have an account?<br />
          <a href="{{ url_for('register') }}"><button>Create</button> </a>
        </div>
      </div>
    </div>
    <div class="right"> 
    </div>
  </div>
</body>
</html>
